# ESP-IDF specific
build/
sdkconfig
sdkconfig.old

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# VSCode specific
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/ipch/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Windows specific
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db